# REQUIRED
PORT=4001
NODE_ENV=development

# DATABASE
DB_HOST=localhost
DB_PORT=5431
DB_USER=postgres
DB_PASS=postgres
DB_NAME=users_db

# JWT
JWT_SECRET=your-super-secret-key-change-this-in-production
