# REQUIRED
PORT=4003
NODE_ENV=development

# DATABASE
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=checkout_db

# jwt
CORS_ORIGINS=*
JWT_SECRET=jwt-secret
JWT_EXPIRES_IN=24h

# services
USERS_SERVICE_URL=http://localhost:4001
PRODUCTS_SERVICE_URL=http://localhost:4002
PAYMENTS_SERVICE_URL=http://localhost:4004

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin@localhost:5672
RABBITMQ_QUEUE_PAYMENTS=payments_queue
RABBITMQ_EXCHANGE=payments