# REQUIRED
PORT=4001
CHECKOUT_SERVICE_URL=http://localhost:4002
PAYMENTS_SERVICE_URL=http://localhost:4003
PRODUCTS_SERVICE_URL=http://localhost:4004
USERS_SERVICE_URL=http://localhost:4005

CORS_ORIGINS=*
JWT_SECRET=jwt-secret-key
JWT_EXPIRES_IN=24h

# OPTIONAL
RATE_LIMIT_SHORT=10
RATE_LIMIT_MEDIUM=100
RATE_LIMIT_LONG=1000