PORT=4005
USERS_SERVICE_URL=http://localhost:4001
PRODUCTS_SERVICE_URL=http://localhost:4002
CHECKOUT_SERVICE_URL=http://localhost:4003
PAYMENTS_SERVICE_URL=http://localhost:4004
CORS_ORIGINS=*
JWT_SECRET=jwt-secret